### Curiosidades

In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('tabela_cidades_uf_ibge.xlsx')
df.head()

      NM_CIDADE  CD_IBGE_CIDADE NM_UF  CD_IBGE_UF
0    Acrelândia         1200013  Acre          12
1  Assis Brasil         1200054  Acre          12
2     Brasiléia         1200104  Acre          12
3        Bujari         1200138  Acre          12
4      Capixaba         1200179  Acre          12

In [3]:
print('\n RANKING DAS CIDADES COM NOMES REPETIDOS MAIS DE 2 VEZES\n')
nomes_iguais = df.NM_CIDADE.value_counts().reset_index()
nomes_iguais.columns = ['NM_CIDADE','QTDE']
nomes_iguais.query("QTDE > 2")

 RANKING DAS CIDADES COM NOMES REPETIDOS MAIS DE 2 VEZES

          NM_CIDADE  QTDE
0         Bom Jesus     5
1      São Domingos     5
2     São Francisco     4
3            Bonito     4
4          Planalto     4
5        Santa Inês     4
6       Santa Luzia     4
7   Santa Terezinha     4
8      Santa Helena     4
9         Vera Cruz     4
10       Bom Jardim     3
11        Cantagalo     3
12          Jussara     3
13       Santa Cruz     3
14           Viçosa     3
15      Alto Alegre     3
16           Itambé     3
17     Campo Grande     3
18      Bom Sucesso     3
19      Ouro Branco     3
20            Belém     3
21       Mundo Novo     3
22    Boa Esperança     3
23      Nova Olinda     3
24     Cachoeirinha     3
25   Novo Horizonte     3
26  Cruzeiro do Sul     3
27          Triunfo     3
28      Água Branca     3

In [4]:
print('\n LOCALIZAÇÃO DAS DUAS CIDADES COM O NOME MAIS REPETIDO \n')
display(df.query("NM_CIDADE=='Bom Jesus'")[['NM_CIDADE', 'NM_UF']])
display(df.query("NM_CIDADE=='São Domingos'")[['NM_CIDADE', 'NM_UF']])

 LOCALIZAÇÃO DAS DUAS CIDADES COM O NOME MAIS REPETIDO

      NM_CIDADE                NM_UF
2592  Bom Jesus              Paraíba
3399  Bom Jesus                Piauí
3702  Bom Jesus  Rio Grande do Norte
3900  Bom Jesus    Rio Grande do Sul
4457  Bom Jesus       Santa Catarina

         NM_CIDADE           NM_UF
554   São Domingos           Bahia
1095  São Domingos           Goiás
2739  São Domingos         Paraíba
4658  São Domingos  Santa Catarina
5422  São Domingos         Sergipe

In [5]:
# Consultando as localizações das Duas printipais cidades
Bom_Jesus = df[df['NM_CIDADE'].str.contains('Bom Jesus', case=False)]['NM_CIDADE'].tolist()
SaoDomingos = df[df['NM_CIDADE'].str.contains('São Domingos', case=False)]['NM_CIDADE'].tolist()
print('\n LOCALIZAÇÃO DAS CIDADES QUE CONTEM EM SEUS NOMES, OS NOMES MAIS REPETIDOS. \n')
display(df.query(f"NM_CIDADE=={Bom_Jesus}")[['NM_CIDADE', 'NM_UF']])
display(df.query(f"NM_CIDADE=={SaoDomingos}")[['NM_CIDADE', 'NM_UF']])

 LOCALIZAÇÃO DAS CIDADES QUE CONTEM EM SEUS NOMES, OS NOMES MAIS REPETIDOS.

                    NM_CIDADE                NM_UF
248         Bom Jesus da Lapa                Bahia
249        Bom Jesus da Serra                Bahia
817        Bom Jesus do Norte       Espírito Santo
915        Bom Jesus de Goiás                Goiás
1162     Bom Jesus das Selvas             Maranhão
1362    Bom Jesus do Araguaia          Mato Grosso
1645       Bom Jesus da Penha         Minas Gerais
1646      Bom Jesus do Amparo         Minas Gerais
1647       Bom Jesus do Galho         Minas Gerais
1785     Córrego do Bom Jesus         Minas Gerais
2439   Bom Jesus do Tocantins                 Pará
2592                Bom Jesus              Paraíba
2826         Bom Jesus do Sul               Paraná
3399                Bom Jesus                Piauí
3603  Bom Jesus do Itabapoana       Rio de Janeiro
3702                Bom Jesus  Rio Grande do Norte
3900                Bom Jesus    Rio Grande do Sul
4457                Bom Jesus       Santa Catarina
4458       Bom Jesus do Oeste       Santa Catarina
4790    Bom Jesus dos Perdões            São Paulo
5150    Pirapora do Bom Jesus            São Paulo
5455   Bom Jesus do Tocantins            Tocantins
5531  Ponte Alta do Bom Jesus            Tocantins

                     NM_CIDADE              NM_UF
554               São Domingos              Bahia
868      São Domingos do Norte     Espírito Santo
1095              São Domingos              Goiás
1301   São Domingos do Azeitão           Maranhão
1302  São Domingos do Maranhão           Maranhão
1481      Vale de São Domingos        Mato Grosso
2274    São Domingos das Dores       Minas Gerais
2275     São Domingos do Prata       Minas Gerais
2535  São Domingos do Araguaia               Pará
2536     São Domingos do Capim               Pará
2739              São Domingos            Paraíba
2740    São Domingos do Cariri            Paraíba
4234       São Domingos do Sul  Rio Grande do Sul
4658              São Domingos     Santa Catarina
5422              São Domingos            Sergipe

In [6]:
## Outras Curiosidades: 
Jesus = df[df['NM_CIDADE'].str.contains('Jesus', case=False)]['NM_CIDADE'].tolist()
print("\n LISTA DE CIDADES QUE TEM CONTÊM O NOME 'JESUS'.\n")
display(df.query(f"NM_CIDADE=={Jesus}")[['NM_CIDADE', 'NM_UF']])

 LISTA DE CIDADES QUE TEM CONTÊM O NOME 'JESUS'.

                    NM_CIDADE                NM_UF
248         Bom Jesus da Lapa                Bahia
249        Bom Jesus da Serra                Bahia
551    Santo Antônio de Jesus                Bahia
817        Bom Jesus do Norte       Espírito Santo
915        Bom Jesus de Goiás                Goiás
1162     Bom Jesus das Selvas             Maranhão
1362    Bom Jesus do Araguaia          Mato Grosso
1645       Bom Jesus da Penha         Minas Gerais
1646      Bom Jesus do Amparo         Minas Gerais
1647       Bom Jesus do Galho         Minas Gerais
1772         Coração de Jesus         Minas Gerais
1785     Córrego do Bom Jesus         Minas Gerais
2439   Bom Jesus do Tocantins                 Pará
2592                Bom Jesus              Paraíba
2826         Bom Jesus do Sul               Paraná
3399                Bom Jesus                Piauí
3603  Bom Jesus do Itabapoana       Rio de Janeiro
3702                Bom Jesus  Rio Grande do Norte
3900                Bom Jesus    Rio Grande do Sul
4457                Bom Jesus       Santa Catarina
4458       Bom Jesus do Oeste       Santa Catarina
4790    Bom Jesus dos Perdões            São Paulo
5150    Pirapora do Bom Jesus            São Paulo
5455   Bom Jesus do Tocantins            Tocantins
5531  Ponte Alta do Bom Jesus            Tocantins

In [7]:
## Outras Curiosidades: 
Deus = df[df['NM_CIDADE'].str.contains('Deus', case=False)]['NM_CIDADE'].tolist()
print("\n LISTA DE CIDADES QUE CONTÊM O NOME 'DEUS'.\n")
display(df.query(f"NM_CIDADE=={Deus}")[['NM_CIDADE', 'NM_UF']])

 LISTA DE CIDADES QUE CONTÊM O NOME 'DEUS'.

                   NM_CIDADE         NM_UF
441            Madre de Deus         Bahia
2014  Madre de Deus de Minas  Minas Gerais
3211  Brejo da Madre de Deus    Pernambuco

In [8]:
## Outras Curiosidades: 
Ribeirao = df[df['NM_CIDADE'].str.contains('Ribeirão', case=False)]['NM_CIDADE'].tolist()
print("\n LISTA DE CIDADES QUE CONTÊM O NOME 'RIBEIRÃO'.\n")
display(df.query(f"NM_CIDADE=={Ribeirao}")[['NM_CIDADE', 'NM_UF']])

 LISTA DE CIDADES QUE CONTÊM O NOME 'RIBEIRÃO'.

                 NM_CIDADE         NM_UF
529      Ribeirão do Largo         Bahia
1450  Ribeirão Cascalheira   Mato Grosso
1451         Ribeirãozinho   Mato Grosso
2201     Ribeirão Vermelho  Minas Gerais
2202    Ribeirão das Neves  Minas Gerais
3089        Ribeirão Claro        Paraná
3090    Ribeirão do Pinhal        Paraná
3318              Ribeirão    Pernambuco
5193       Ribeirão Bonito     São Paulo
5194       Ribeirão Branco     São Paulo
5195     Ribeirão Corrente     São Paulo
5196       Ribeirão Grande     São Paulo
5197        Ribeirão Pires     São Paulo
5198        Ribeirão Preto     São Paulo
5199       Ribeirão do Sul     São Paulo
5200   Ribeirão dos Índios     São Paulo

In [9]:
## Outras Curiosidades: 
Bonito = df[df['NM_CIDADE'].str.contains('Bonito', case=False)]['NM_CIDADE'].tolist()
print("\n LISTA DE CIDADES QUE CONTÊM O NOME 'DEUS'.\n")
display(df.query(f"NM_CIDADE=={Bonito}")[['NM_CIDADE', 'NM_UF']])

 LISTA DE CIDADES QUE CONTÊM O NOME 'DEUS'.

                 NM_CIDADE               NM_UF
251                 Bonito               Bahia
1501                Bonito  Mato Grosso do Sul
1652       Bonito de Minas        Minas Gerais
2440                Bonito                Pará
2594    Bonito de Santa Fé             Paraíba
2842          Campo Bonito              Paraná
3093  Rio Bonito do Iguaçu              Paraná
3208                Bonito          Pernambuco
3656            Rio Bonito      Rio de Janeiro
3933   Capão Bonito do Sul   Rio Grande do Sul
4199         Rodeio Bonito   Rio Grande do Sul
4828          Capão Bonito           São Paulo
5193       Ribeirão Bonito           São Paulo
5463       Carrasco Bonito           Tocantins